<div class="nox-header-wrapper full-width">
  <header class="nox-header">
    {% render 'nox-topbar' %}
    {% render 'nox-navbar' %}
    {% render 'nox-trustbar' %}
  </header>
</div>

{% schema %}
{
  "name": "Noxlevia Header",
  "settings": [],
  "presets": [
    {
      "name": "Noxlevia Header"
    }
  ]
}
{% endschema %}